*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}
.main{
    width: 1440px;
height: auto;
background: #000;
}
.first{
    padding-top: 16px;
    margin-left: 10px;
    width: 1416px;
height: 635px;
flex-shrink: 0;
fill: #081316;
}
nav{
    width: 100%;
    height:auto ;
    position: absolute;
}


nav .navbar{
    display: flex;
    justify-content:flex-start;
    align-items: center;
    margin: 0;
    margin-left:58px ;
    
}

nav .menu ul{
    display: flex;
    gap: 100px;
    
    
}
nav .menu ul li{
    padding-top: 53px;
}

nav .menu ul li a {
    color: #FFF;
    text-align: center;
    font-family: Montserrat;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;

}
label i{
    padding-top: 29px;
    color: #FFF;
    font-size: 25px;
}
#check{
    display: none;
}
label{
    display: none;
}
.mainsvg{
    width: 1416px;
    height: 635px;
}
.firstsvg{
    display: none;
}
.rect{
    margin-top: -18px;
    margin-left: 80px;
    width: 43px;
height: 18px;
flex-shrink: 0;
border-radius: 100px;
background: rgba(255, 255, 255, 0.30);
}
.rect span{
    width: 24px;
height: 18px;
flex-shrink: 0;
    color: #081316;
font-family: Montserrat;
font-size: 15px;
font-style: normal;
font-weight: 600;
line-height: normal;
margin-bottom: 10px;
}
.rect1{
    margin-top: -18px;
    margin-left: 60px;
    width: 50px;
height: 18px;
flex-shrink: 0;
border-radius: 100px;
background: #B1DA5A;
}
.rect1 span{
    color: #081316;
font-family: Montserrat;
font-size: 13px;
font-style: normal;
font-weight: 600;
line-height: normal;
}
.get{
    margin-left: 475px;
}
.get img{
    width: 18px;
height: 18px;
flex-shrink: 0;
fill: rgba(255, 255, 255, 0.50);
}
.elip1  .arrow{
    display: flex;
width: 4.5px;
height: 6px;
justify-content: center;
flex-shrink: 0;
color: #081316;
text-align: center;
font-family: Poppins;
font-size: 17px;
font-style: normal;
font-weight: 600;
line-height: normal;
letter-spacing: 2.55px;
margin-top: -22px;
margin-left: 8px;
position: absolute;
}
.elip1{
    margin-top: -18px;
    margin-left: 560px;
}
.line1{
    margin-top: 20px;
    width: 1300px;
    height: 0.5px;
    background: rgba(217, 217, 217, 0.25);
}
.rect2{
    position: absolute;
    margin-top: 220px;
    margin-left: 66px;
    width: 132px;
height: 26px;
flex-shrink: 0;
border-radius: 100px;
border: 1px solid rgba(58, 52, 52, 0.25);
background: linear-gradient(90deg, rgba(255, 255, 255, 0.17) 12.14%, rgba(19, 46, 3, 0.00) 50.24%, rgba(255, 255, 255, 0.17) 88.68%);
}
.rect2 span{
    text-align: center;
font-family: Montserrat;
font-size: 13px;
font-style: normal;
font-weight: 700;
line-height: normal;
background: linear-gradient(90deg, rgba(175, 255, 4, 0.50) 0%, rgba(0, 231, 65, 0.50) 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
margin-left: 15px;
}
.rect2 img{
    position: absolute;
    width: 16px;
height: 16px;
flex-shrink: 0;
margin-left: 15px;
margin-top: 3px;
}
.text{
    width: 608px;
    height: 120px;
    padding-left: 68px;
    position: absolute;
    margin-top: 260px;
}
.text span{
    color: #FFF;
font-family: Montserrat;
font-size: 50px;
font-style: normal;
font-weight: 600;
line-height: 60px; /* 120% */
}
.text .span1{
    color: #B1DA5A;
font-family: Montserrat;
font-size: 50px;
font-style: normal;
font-weight: 700;
line-height: 60px;
}
.text1{
    display: flex;
}
.non-animation{
    color: #FFF;
    font-family: Montserrat;
    font-size: 50px;
    font-style: normal;
    font-weight: 600;
}
.animated-text{
    background: linear-gradient(180deg, #FFF 0%, rgba(255, 255, 255, 0.00) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
        font-family: Montserrat;
    font-size: 50px;
    font-style: normal;
    font-weight: 600;
    margin-left: 15px;
    border-right: 10px solid #B1DA5A;
    width: 0;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 6s steps(5) infinite forwards
}
@keyframes typing{
    0%{
        width: 0;
    }
    50%{
        width: 50%;
    }
}
.text .para1{
    margin-top: 8px;
    color: #FFF;
font-family: Montserrat;
font-size: 12px;
font-style: normal;
font-weight: 600;
line-height: 20px; /* 166.667% */
}
.text .para2{
    color: #B1DA5A;
font-family: Montserrat;
font-size: 12px;
font-style: normal;
font-weight: 700;
line-height: 20px;
text-decoration-line: underline;
}
.rect3{
    margin-left: 68px;
    margin-top: 450px;
    position: absolute;
    width: 243px;
height: 41px;
flex-shrink: 0;
border-radius: 100px;
border: 1px solid rgba(255, 255, 255, 0.25);
background: linear-gradient(90deg, rgba(255, 255, 255, 0.17) 12.14%, rgba(19, 46, 3, 0.00) 50.24%, rgba(255, 255, 255, 0.17) 88.68%);
}
.rect3 span{
    color: #FFF;
    font-family: Montserrat;
    font-size: 17px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 2.55px;
    margin-left: 30px;
    position: absolute;
    margin-top: 10px;
}
.elip2{
    
margin-top: 10px;
margin-left: 190px;
}
.rect3 img{
    fill: #FFF;
    width: 21px;
    height: 21px;
    flex-shrink: 0;
}
.elip2  .arrow1{
    display: flex;
    width: 6px;
    height: 8px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #081316;
    text-align: center;
    font-family: Poppins;
    font-size: 17px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 2.55px;
margin-top: -18px;
margin-left: 6px;
position: absolute;
}
.elip3{
    position: absolute;
    margin-top: 150px;
    margin-left: 380px;
    width: 153px;
    height: 155px;
    flex-shrink: 0;
    fill: rgba(217, 217, 217, 0.50);
    filter: blur(50px);
}

.wrapper{
    width: 722px;
    height: 405px;
   position: absolute;
   margin-top: 220px;
   margin-left: 627px;
   display: flex;
   overflow-x: auto;
}
.wrapper::-webkit-scrollbar{
    width: 0;
}
.wrapper .item{
    min-width: 281px;
    height: 176px;
    line-height: 176px;
    text-align: center;
    border-radius: 20px;
    background: rgba(217, 217, 217, 0.10);
    backdrop-filter: blur(5px);
    margin-right: 24px;
}
.img-text{
    position: absolute;
    margin-top: -40px;
    margin-left: 15px;
}
.img-text span{
    margin-left: 100px;
    color: #FFF;
text-align: right;
font-family: Montserrat;
font-size: 7px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 0.7px;
}
.star{
    margin-left: -170px;
    margin-top: -20px;
}
.item p{
    width: 250px;
    color: #FFF;
font-family: Montserrat;
font-size: 8px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-top: -70px;
margin-left: 15px;
text-align: justify;
}
.review{
    color: #B1DA5A;
font-family: Montserrat;
font-size: 9px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 0.9px;
margin-top: 20px;
margin-left: -150px;
}
.second img{
    margin-left: 197px;
    margin-top: 53px;
}
.second .t1{
    position: absolute;
    color: #FFF;
font-family: Montserrat;
font-size: 15px;
font-style: normal;
font-weight: 600;
line-height: normal;
margin-left: 260px;
margin-top: -50px;
}
.second .t2{
    background: linear-gradient(90deg, #006E04 45.09%, #48A400 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
font-family: Montserrat;
font-size: 15px;
font-style: normal;
font-weight: 700;
line-height: normal;
position: absolute;
margin-left: 330px;
margin-top: -50px;

}
.second .t3{
    color: #FFF;
font-family: Montserrat;
font-size: 10px;
font-style: normal;
font-weight: 600;
line-height: normal;
margin-left: 260px;
margin-top: -30px;
}
.second .line{
    width: 168px;
height: 3px;
flex-shrink: 0;
margin-left: 260px;
margin-top: -10px;
}
.img-text1{
    display: flex;
    align-items:center;
    justify-content: flex-start;
    margin-left: 680px;
    gap: 40px;
}
.rectangle{
    width: 201px;
height: 90px;
flex-shrink: 0;
border-radius: 20px;
background: #000;
box-shadow: 0px 0px 4px 0px rgba(217, 217, 217, 0.60) inset;
margin-top: -130px;
margin-bottom: 40px;
}
.rectangle img{
    margin-left: 20px;
    position: absolute;
    margin-top: 20px;
}
.rectangle .t4{
    width: 108px;
height: 39px;
flex-shrink: 0;
color: #FFF;
text-align: center;
font-family: Montserrat;
font-size: 20px;
font-style: normal;
font-weight: 800;
line-height: 40px; /* 200% */
letter-spacing: 2px;
position: absolute;
margin-top: 20px;
margin-left: 80px;
}
.rectangle .t5{
    color: #FFF;
text-align: center;
font-family: Montserrat;
font-size: 20px;
font-style: normal;
font-weight: 800;
line-height: 40px; /* 200% */
letter-spacing: 2px;
margin-top: 20px;
position: absolute;
margin-left: 50px;
}
.rect4{
    position: absolute;
    margin-top: 225px;
    margin-left: 52px;
    width: 353px;
height: 36px;
flex-shrink: 0;
border-radius: 60px;
border: 1px solid #0DCAF4;
background: rgba(217, 217, 217, 0.00);
}
.rect4 p{
    color: #FFF;
text-align: center;
font-family: Montserrat;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: normal;
margin-top: 10px;
}
.rect4 span{
    color: #B1DA5A;
font-family: Montserrat;
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.third .p1{
    position: absolute;
    color: #FFF;
    font-family: Montserrat;
    font-size: 29px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: 280px;
    margin-left: 62px;
}
.third .s1{
    color: #EFFFCC;
font-family: Montserrat;
font-size: 29px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.third .p2{
    margin-top: 320px;
    margin-left: 232px;
    position: absolute;
    color: #FFF;
font-family: Montserrat;
font-size: 15px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.third .s2{
    color: #FFF;
font-family: Montserrat;
font-size: 15px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.rect5{
    width: 933px;
height: 357px;
flex-shrink: 0;
border-radius: 40px;
background: #000;
position: absolute;
margin-top: 370px;
margin-left: 52px;
}
.thirdsvg{
    display: none;
}
.thirdsvg1{
    display: block;
}
.rect6{
    width: 823px;
height: 60px;
flex-shrink: 0;
border-radius: 40px;
border: 3px solid #1B9AF6;
background: #000;
margin-top: 38px;
margin-left: 55px;
}
.thirdsvg2{
    display: none;
}

.rect6 .p3{
    margin-top: 10px;
    margin-left: 25px;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    background: linear-gradient(90deg, #FFF 0%, rgba(255, 255, 255, 0.00) 109.23%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.rect6 .s3{
    background: linear-gradient(90deg, #FFF 0%, #B1DA5A 109.23%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
font-family: Montserrat;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin-left: 10px;
}
.thirdsvg{
    display: none;
}
.rect7{
    width: 371px;
height: 37px;
flex-shrink: 0;
fill: #000;
stroke-width: 3px;
stroke: rgba(27, 154, 246, 0.00);
opacity: 0.4;
margin-top: -25px;
margin-left: 440px;
}
.rect6 .p4{
    margin-top: -30px;
    margin-left: 620px;
    color: #B1DA5A;
font-family: Montserrat;
font-size: 12px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.rect6 .s4{
    opacity: 0.5;
background: linear-gradient(90deg, rgba(255, 255, 255, 0.30) 0%, rgba(255, 255, 255, 0.24) 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
font-family: Montserrat;
font-size: 12px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.rect6 .p5{
    margin-top: -15px;
    margin-left: 750px;
    opacity: 0.5;
background: linear-gradient(90deg, rgba(255, 255, 255, 0.30) 0%, rgba(255, 255, 255, 0.24) 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
font-family: Montserrat;
font-size: 12px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.rect5 .p6{
    color: #FFF;
font-family: Montserrat;
font-size: 29px;
font-style: normal;
font-weight: 600;
line-height: normal;
width: 372px;
margin-left: 80px;
margin-top: -160px;
}
.rect5 .p7{
    color: #FFF;
font-family: Montserrat;
font-size: 29px;
font-style: normal;
font-weight: 600;
line-height: normal;
width: 372px;
margin-left: 80px;
}
.rect5 .s5{
    color: #C1FB64;
font-family: Montserrat;
font-size: 29px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.rect5 .p8{
    color: rgba(255, 255, 255, 0.51);
font-family: Montserrat;
font-size: 12px;
font-style: normal;
font-weight: 500;
line-height: normal;
width: 512px;
margin-left: 80px;
margin-top: 7px;
}
.rect5 .s6{
    color: #BABABA;
font-family: Montserrat;
font-size: 12px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.rect9{
    width: 113px;
height: 29px;
flex-shrink: 0;
border-radius: 100px;
border: 0.5px solid #FFF;
margin-top: 7px;
margin-left: 80px;
}
.rect9 p{
    color: #FFF;
font-family: Montserrat;
font-size: 12px;
font-style: normal;
font-weight: 500;
line-height: normal;
margin-top: 5px;
margin-left: 20px;
}
.rect9 span{
    position: absolute;
width: 9px;
height: 15px;
color: #FFF;
text-align: right;
font-family: Poppins;
font-size: 12px;
font-style: normal;
font-weight: 500;
line-height: normal;
margin-top: -15px;
margin-left: 80px;
}
.rect8{
    width: 236.872px;
height: 238px;
flex-shrink: 0;
border-radius: 20px;
margin-left: 613px;
}
.rect8 img{
    width: 236.872px;
height: 238px;
}
.rect10{
    position: absolute;
    width: 367px;
height: 602px;
flex-shrink: 0;
fill:#000;
margin-left: 1010px;
margin-top: 113px;
}
.rect10svg2{
    display: none;
}
.rect10svg1{
    display: block;
}
.rect10 p{
    margin-top: -500px;
    margin-left: 67px;
    position: absolute;
    display: flex;
width: 137px;
height: 135px;
flex-direction: column;
justify-content: center;
flex-shrink: 0;
font-family: Montserrat;
font-size: 180px;
font-style: normal;
font-weight: 600;
line-height: normal;
background: linear-gradient(123deg, #AAEB21 27.24%, rgba(170, 235, 33, 0.00) 86.47%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.rect10 span{
    display: flex;
width: 115px;
height: 41px;
flex-direction: column;
justify-content: center;
flex-shrink: 0;
font-family: Montserrat;
font-size: 30px;
font-style: normal;
font-weight: 600;
line-height: normal;
opacity: 0.5;
background: linear-gradient(180deg, #FFF 0%, rgba(255, 255, 255, 0.00) 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
margin-left: 170px;

}
.s7{
    margin-top: -490px;
}
.svg{
    margin-top: 50px;
}
.svg1{
    margin-top: -200px;
    margin-left: 40px;
}
.svg2{
    margin-top: -200px;
    margin-left: 80px;
}
.svg3{
    margin-top: -100px;
    margin-left: 120px;
}
.svg4{
    margin-top: -50px;
    margin-left:180px;
}
.fourth{
    width: 1440px;
height: 721px;
flex-shrink: 0;
}
.rect11{
    width: 417px;
height: 36px;
flex-shrink: 0;
border-radius: 60px;
border: 1px solid #0DCAF4;
background: rgba(217, 217, 217, 0.00);
margin-left: 88px;
margin-top: 69px;
}
.rect11 p{
    color: #FFF;
text-align: center;
font-family: Montserrat;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: normal;
margin-top: 10px;
}
.rect11 span{
    color: #B1DA5A;
font-family: Montserrat;
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.fourth .p9{
    color: #FFF;
font-family: Montserrat;
font-size: 29px;
font-style: normal;
font-weight: 500;
line-height: normal;
margin-left: 88px;
}
.fourth .s8{
    color: #FFF;
font-family: Montserrat;
font-size: 29px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.fourth .s9{
    color: #FFF;
font-family: Montserrat;
font-size: 29px;
font-style: normal;
font-weight: 600;
line-height: normal;
}
.fourth .p10{
    color: #FFF;
font-family: Nunito;
font-size: 15px;
font-style: normal;
font-weight: 500;
line-height: normal;
margin-left: 310px;
}
.fourth .s10{
    background: linear-gradient(270deg, #B1DA5A 0.09%, #4285F4 26.46%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
font-family: Nunito;
font-size: 18px;
font-style: normal;
font-weight: 800;
line-height: normal;
}
.rect12{
    width: 1263px;
height: 162px;
flex-shrink: 0;
border-radius: 30px;
border: 1px solid #D9D9D9;
background: rgba(217, 217, 217, 0.00);
margin-top: 16px;
margin-left: 88px;

}
.gifs{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.rect13{
    width: 224px;
height: 224px;
flex-shrink: 0;
    border-radius: 30px;
border: 1px solid #D9D9D9;
background: rgba(217, 217, 217, 0.00);
margin-top: 95px;
margin-left: 70px;
}
.rect13 img{
    width: 160px;
    height: 160px;
    flex-shrink: 0;
    border-radius: 30px;
    margin-left: 32px;
}
.rect13 p{
    color: #FFF;
text-align: center;
font-family: Nunito;
font-size: 15px;
font-style: normal;
font-weight: 400;
line-height: 30px; /* 200% */
opacity: 0.5;
}
.fifth{
    width: 1280px;
height: 699px;
flex-shrink: 0;
}
.fifth1 img{
    width: 71px;
height: 71px;
border-radius: 30px;
margin-left: 90px;
margin-top: 161px;
}
.fifth1 h1{
    color: #FFF;
    font-family: Montserrat;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    opacity: 0.5;
    margin-left: 90px;
    margin-top: 20px;
}
.fifth1 span{
    opacity: 0.5;
color: #FFF;
font-family: Montserrat;
font-size: 15px;
font-style: normal;
font-weight: 600;
line-height: normal;
}
.fifth1 h2{
    margin-top: 14px;
    margin-left: 90px;
    color: rgba(255, 255, 255, 0.50);
font-family: Montserrat;
font-size: 35px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.fifth1 h3{
    margin-left: 90px;
    color: #FFF;
font-family: Montserrat;
font-size: 35px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.fifth1 p{
    margin-top: 14px;
    margin-left: 90px;
    width: 559px;
    color: rgba(255, 255, 255, 0.50);
font-family: Montserrat;
font-size: 15px;
font-style: normal;
font-weight: 400;
line-height: 25px; /* 166.667% */
}
.fifth1 .rect14{
    width: 113px;
    height: 29px;
    flex-shrink: 0;
    border-radius: 100px;
border: 0.5px solid #FFF;
margin-top: 14px;
margin-left: 90px;
}
.fifth1 .rect14 p{
    color: #FFF;
font-family: Montserrat;
font-size: 12px;
font-style: normal;
font-weight: 500;
line-height: normal;
margin-left: 20px;
margin-top: 5px;
}
.fifth1 .rect14 span{
    color: #FFF;
text-align: right;
font-family: Poppins;
font-size: 12px;
font-style: normal;
font-weight: 500;
line-height: normal;
display: flex;
width: 9px;
height: 15px;
flex-direction: column;
justify-content: center;
flex-shrink: 0;
margin-top: -15px;
margin-left: 80px;
}
.fifth2{
    width: 663px;
height: 663px;
flex-shrink: 0;
border-radius: 50px;
background: linear-gradient(90deg, #1B9AF6 0%, #B1DA5A 100%);
margin-left: 707px;
margin-top: -550px;
}
.fifth .p11{
    margin-left: 992px;
    color: #FFF;
font-family: Montserrat;
font-size: 12px;
font-style: normal;
font-weight: 500;
line-height: 30px; /* 250% */
opacity: 0.5;
}
.fifth2 .rect15{
    width: 525px;
height: 525px;
flex-shrink: 0;
border-radius: 50px;
background: #000;
position: absolute;
margin-top: 69px;
margin-left: 69px;
}
.fifth2 .rect15 h1{
    margin-top: 68px;
    margin-left: 119px;
    color: #FFF;
font-family: Montserrat;
font-size: 15px;
font-style: normal;
font-weight: 500;
line-height: 25px; /* 166.667% */
opacity: 0.8;
}
.fifth2 .rect15 h2{
    color: #FFF;
font-family: Montserrat;
font-size: 15px;
font-style: normal;
font-weight: 500;
opacity: 0.8;
margin-left: 119px;
}
.fifth2 .rect15 .s11{
    opacity: 0.8;
background: linear-gradient(91deg, #4285F4 85.59%, #B1DA5A 99.7%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
font-family: Nunito;
font-size: 17px;
font-style: normal;
font-weight: 700;
margin-left: 10px;
}
.line2{
    width: 2px;
height: 300px;
background: rgba(255, 255, 255, 0.50);
margin-left: 86px;
margin-top: 31px;
}
.line2 p{
    height: 300px;
    width: 338px;
    color: rgba(255, 255, 255, 0.70);
font-family: Montserrat;
font-size: 15px;
font-style: normal;
font-weight: 500;
line-height: 30px; /* 200% */
margin-left: 16px;
}
.line2 p .rect16{
    width: 159px;
height: 23px;
flex-shrink: 0;
background: rgba(238, 86, 2, 0.50);
}
.line2 p .rect17{
    width: 252px;
height: 23px;
flex-shrink: 0;
background: rgba(52, 168, 83, 0.50);
}
.line2 p .rect18{
    width: 243px;
height: 23px;
flex-shrink: 0;
background: rgba(66, 133, 244, 0.50);
}
.sixth{
    width: 1280px;
height: 699px;
margin-top: 146px;
flex-shrink: 0;
display: flex;
justify-content: center;
margin-left: 90px;
}
.sixth1{
    width: 663px;
height: 663px;
flex-shrink: 0;
border-radius: 50px;
background: linear-gradient(90deg, #1B9AF6 0%, #B1DA5A 100%);
}
.sixth1 .rect18{
    width: 483px;
height: 273px;
flex-shrink: 0;
border-radius: 10px;
margin-left: 54px;
padding-top: 303px;
}
.sixth1 .rect18 img{
    width: 483px;
height: 273px;
}
.sixth1 .rect19{
    width: 530px;
height: 372px;
flex-shrink: 0;
border-radius: 15px;
position: absolute;
rotate: 90deg;
margin-left: 213px;
margin-top: -130px;
}
.sixth1 .rect19 img{
    width: 530px;
    height: 372px;
}
.sixth2 img{
    width: 71px;
height: 71px;
border-radius: 30px;
margin-left: 41px;
margin-top: 161px;
}
.sixth2 h1{
    color: #FFF;
font-family: Montserrat;
font-size: 15px;
font-style: normal;
font-weight: 400;
line-height: normal;
text-transform: uppercase;
opacity: 0.5;
margin-left: 41px;
margin-top: 14px;
}
.sixth2 h2{
    color: rgba(255, 255, 255, 0.50);
font-family: Montserrat;
font-size: 35px;
font-style: normal;
font-weight: 500;
line-height: normal;
margin-left: 41px;
margin-top: 14px;
}
.sixth2 h3{
    color: #FFF;
font-family: Montserrat;
font-size: 35px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin-left: 41px;
}
.sixth2 p{
    color: rgba(255, 255, 255, 0.50);
font-family: Montserrat;
font-size: 15px;
font-style: normal;
font-weight: 400;
line-height: 25px; /* 166.667% */
width: 559px;
margin-top: 14px;
margin-left: 41px;
}
.sixth2 .rect20{
    width: 113px;
height: 29px;
flex-shrink: 0;
border-radius: 100px;
border: 0.5px solid #FFF;
margin-left: 41px;
margin-top: 14px;
}
.sixth2 .rect20 p{
    color: #FFF;
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-left: 20px;
    margin-top: 5px;
}
.sixth2 .rect20 span{
    color: #FFF;
    text-align: right;
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    display: flex;
    width: 9px;
    height: 15px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    margin-top: -15px;
    margin-left: 80px;   
}
.p12{
    color: #FFF;
font-family: Montserrat;
font-size: 12px;
font-style: normal;
font-weight: 500;
line-height: 30px; /* 250% */
opacity: 0.5;
margin-left: 359px;
margin-top: -30px;
}
.seventh{
    width: 1280px;
    height: 409px;
    margin-top: 96px;

}
.seventh .rect21{
    width: 1280px;
height: 362px;
flex-shrink: 0;
border-radius: 50px;
background: #0E0D0D;
margin-left: 90px;
}
.seventh .rect21 img{
    width: 54.118px;
height: 40px;
flex-shrink: 0;
margin-top: 161px;
margin-left: 145px;
}
.seventh .rect21 p{
    color: #FFF;
font-family: Montserrat;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: 40px; /* 200% */
margin-top:-40px ;
margin-left: 200px;
}
.seventh2 .p13{
    width: 809px;
    color: #FFF;
font-family: Montserrat;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: 35px; /* 194.444% */
margin-left: 409px;
margin-top: -100px;
}
.seventh2 .p14{
    font-family: Montserrat;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: 35px; /* 175% */
background: linear-gradient(90deg, #B1DA54 0%, #1B94F6 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
padding-top: 32px;
padding-left: 206px;
}
.seventh2 .p15{
    color: #FFF;
font-family: Montserrat;
font-size: 15px;
font-style: normal;
font-weight: 500;
line-height: 35px; /* 233.333% */
padding-top: 16px;
padding-left: 206px;

}
.eight{
    width: 1280px;
height: 699px;
flex-shrink: 0;
margin-top: 96px;
margin-left: 90px;
display: flex;
}
.eight1 img{
    width: 71px;
height: 71px;
border-radius: 30px;
}
.eight1 h3{
    color: #FFF;
font-family: Montserrat;
font-size: 8px;
font-style: normal;
font-weight: 400;
line-height: normal;
text-transform: uppercase;
}
.eight1 h1{
    color: rgba(255, 255, 255, 0.50);
    font-family: Montserrat;
    font-size: 35px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.eight1 h2{
    color: rgba(255, 255, 255, 0.50);
font-family: Montserrat;
font-size: 35px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.eight1 h2 span{
    color: #FFF;
font-family: Montserrat;
font-size: 35px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.eight1 p{
    color: rgba(255, 255, 255, 0.50);
font-family: Montserrat;
font-size: 15px;
font-style: normal;
font-weight: 400;
line-height: 25px; /* 166.667% */
width: 559px;
margin-top: 16px;
}
.eight1 .rect22{
    width: 113px;
    height: 29px;
    flex-shrink: 0;
    border-radius: 100px;
border: 0.5px solid #FFF;
margin-top: 14px;
}
.eight1 .rect22 p{
    color: #FFF;
font-family: Montserrat;
font-size: 12px;
font-style: normal;
font-weight: 500;
line-height: normal;
margin-left: 20px;
margin-top: 5px;
}
.eight1 .rect22 span{
    color: #FFF;
text-align: right;
font-family: Poppins;
font-size: 12px;
font-style: normal;
font-weight: 500;
line-height: normal;
display: flex;
width: 9px;
height: 15px;
flex-direction: column;
justify-content: center;
flex-shrink: 0;
margin-top: -15px;
margin-left: 80px;
}
.eight2 .rect23{
    width: 663px;
    height: 663px;
    flex-shrink: 0;
    border-radius: 50px;
background: linear-gradient(90deg, #1B9AF6 0%, #B1DA5A 100%);
margin-left: 58px;
}
.eight2 .rect23 img{
    width: 594px;
height: 489px;
flex-shrink: 0;
margin-top: 87px;
margin-left: 69px;
}
.p16{
    color: #FFF;
font-family: Montserrat;
font-size: 12px;
font-style: normal;
font-weight: 500;
line-height: 30px; /* 250% */
opacity: 0.5;
margin-top: -30px;
margin-left: 992px;
}
.nine{
    width: 1280px;
height: 699px;
flex-shrink: 0;
margin-top: 112px;
margin-left: 90px;
display: flex;
}
.nine1 .rect24{
    width: 663px;
    height: 663px;
    flex-shrink: 0;
    border-radius: 50px;
background: linear-gradient(90deg, #1B9AF6 0%, #B1DA5A 100%);
}
.nine1 .rect24 img{
    width: 594px;
height: 525px;
flex-shrink: 0;
margin-top: 69px;
margin-left: 69px;
}
.nine2 img{
    width: 71px;
height: 71px;
border-radius: 30px;
margin-left: 41px;
margin-top: 161px;
}
.nine2 h1{
    color: #FFF;
font-family: Montserrat;
font-size: 15px;
font-style: normal;
font-weight: 400;
line-height: normal;
text-transform: uppercase;
opacity: 0.5;
margin-top: 16px;
margin-left: 41px;
}
.nine2 h2{
    color: rgba(255, 255, 255, 0.50);
font-family: Montserrat;
font-size: 35px;
font-style: normal;
font-weight: 500;
line-height: normal;
margin-top: 16px;
margin-left: 41px;
}
.nine2 h3{
    color: rgba(255, 255, 255, 0.50);
font-family: Montserrat;
font-size: 35px;
font-style: normal;
font-weight: 500;
line-height: normal;
margin-left: 41px;

}
.nine2 h3 span{
    color: #FFF;
font-family: Montserrat;
font-size: 35px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.nine2 p{
    color: rgba(255, 255, 255, 0.50);
font-family: Montserrat;
font-size: 15px;
font-style: normal;
font-weight: 400;
line-height: 25px; /* 166.667% */
width: 559px;
margin-top: 16px;
margin-left: 41px;
}
.nine2 .rect25{
    width: 113px;
    height: 29px;
    flex-shrink: 0;
    border-radius: 100px;
border: 0.5px solid #FFF;
margin-top: 14px;
margin-left: 41px;
}
.nine2 .rect25 p{
    color: #FFF;
font-family: Montserrat;
font-size: 12px;
font-style: normal;
font-weight: 500;
line-height: normal;
margin-left: 20px;
margin-top: 5px;
}
.nine2 .rect25 span{
    color: #FFF;
text-align: right;
font-family: Poppins;
font-size: 12px;
font-style: normal;
font-weight: 500;
line-height: normal;
display: flex;
width: 9px;
height: 15px;
flex-direction: column;
justify-content: center;
flex-shrink: 0;
margin-top: -15px;
margin-left: 80px;
}
.p17{
        color: #FFF;
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px; /* 250% */
    opacity: 0.5;
    margin-left: 359px;
    margin-top: -30px;
    
}
.tenth{
    width: 1280px;
height: 362px;
flex-shrink: 0;
border-radius: 50px;
background: #0E0D0D;
margin-top: 113px;
margin-left: 90px;
display: flex;
} 
.tenth1{
    display: flex;
}
.rect26 img{
    width: 229px;
height: 229px;
flex-shrink: 0;
border-radius: 20px;
margin-top: 92px;
margin-left: 152px;
}
.rect27 img{
    width: 229px;
height: 229px;
flex-shrink: 0;
border-radius: 20px;
position: absolute;
margin-top: 40px;
margin-left: -170px;
}
.tenth2 h1{
    color: rgba(255, 255, 255, 0.50);
font-family: Montserrat;
font-size: 35px;
font-style: normal;
font-weight: 500;
line-height: normal;
margin-left: 156px;
margin-top: 52px;
}
.tenth2 h2{
    background: linear-gradient(90deg, #1B94F6 0.06%, #B1DA54 39.37%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
font-family: Montserrat;
font-size: 35px;
font-style: normal;
font-weight: 600;
line-height: normal;
margin-left: 156px;

}
.tenth2 h3{
    color: #FFF;
font-family: Montserrat;
font-size: 35px;
font-style: normal;
font-weight: 500;
line-height: normal;
margin-left: 156px;

}
.tenth2 p{
    color: #FFF;
font-family: Montserrat;
font-size: 15px;
font-style: normal;
font-weight: 500;
line-height: 35px; /* 233.333% */
margin-left: 156px;
margin-top: 16px;
}
.tenth2 p span{
    color: #FFF;
font-family: Montserrat;
font-size: 15px;
font-style: normal;
font-weight: 600;
line-height: 35px;
}
.rect28{
    width: 374px;
height: 54px;
flex-shrink: 0;
border-radius: 70px;
background: #1D1D1D;
margin-left: 156px;
margin-top: 16px;
}
.rect28 span{
    color: #484646;
font-family: Montserrat;
font-size: 15px;
font-style: normal;
font-weight: 500;
line-height: 35px; /* 233.333% */
margin-left: 28px;
}
.rect29{
    width: 172px;
    height: 54px;
    flex-shrink: 0;
    border-radius: 100px;
border: 0.5px solid #1B94F6;
background: #000;
margin-top: -55px;
margin-left: 550px;
}
.rect29 span{
    color: #FFF;
font-family: Montserrat;
font-size: 15px;
font-style: normal;
font-weight: 500;
line-height: 35px; /* 233.333% */
margin-left: 26px;
}
.rect29 svg{
    margin-left: 10px;
}
.eleven{
    width: 1280px;
height: 525px;
flex-shrink: 0;
display: flex;
margin-top: 79px;
margin-left: 90px;

}
.gif {
    display: flex;
    justify-content: flex-start;
}
.gif img{
    width: 71px;
height: 71px;
flex-shrink: 0;
border-radius: 30px;
}
.eleven1 h1{
    color: #FFF;
font-family: Montserrat;
font-size: 15px;
font-style: normal;
font-weight: 400;
line-height: normal;
opacity: 0.5;
margin-top: 14px;

}
.eleven1 h1 span{
    opacity: 0.5;
    color: #FFF;
    font-family: Montserrat;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.eleven1 h2{
    color: rgba(255, 255, 255, 0.50);
font-family: Montserrat;
font-size: 35px;
font-style: normal;
font-weight: 500;
line-height: normal;
margin-top: 14px;
}
.eleven1 h3{
    color: #FFF;
font-family: Montserrat;
font-size: 35px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.eleven1 p{
    color: rgba(255, 255, 255, 0.50);
font-family: Montserrat;
font-size: 15px;
font-style: normal;
font-weight: 400;
line-height: 25px; /* 166.667% */
width: 507px;
margin-top: 14px;
}
.eleven1 .rect30{
    width: 113px;
    height: 29px;
    flex-shrink: 0;
    border-radius: 100px;
border: 0.5px solid #FFF;
margin-top: 14px;
}
.eleven1 .rect30 p{
    color: #FFF;
font-family: Montserrat;
font-size: 12px;
font-style: normal;
font-weight: 500;
line-height: normal;
margin-left: 20px;
margin-top: 5px;
}
.eleven1 .rect30 span{
    color: #FFF;
text-align: right;
font-family: Poppins;
font-size: 12px;
font-style: normal;
font-weight: 500;
line-height: normal;
display: flex;
width: 9px;
height: 15px;
flex-direction: column;
justify-content: center;
flex-shrink: 0;
margin-top: -15px;
margin-left: 80px;
}
.eleven2 .rect31{
    width: 741px;
height: 525px;
flex-shrink: 0;
border-radius: 50px;
background: linear-gradient(90deg, #1B9AF6 0%, #B1DA5A 100%);
margin-left: 32px;
}
.eleven2 .rect31 img{
    width: 618px;
    height: 411px;
    flex-shrink: 0;
    border-radius: 50px;
    margin-top: 57px;
    margin-left: 62px;
}
.twelve{
    width: 1138.999px;
height: 198px;
flex-shrink: 0;
margin-left: 161px;
margin-top: 121px;
}
.img-text2{
display: flex;
justify-content: flex-start;
gap: 75px;
}
.rect32 {
    display: flex;
}
.rect32 span{
    color: #FFF;
    text-align: center;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: 40px; /* 200% */
    letter-spacing: 2px;
}
.img-text3{
    display: flex;
    justify-content: flex-start;
    gap: 75px;
    margin-top: 50px;
    }
    .rect33{
        display: flex;
    }
    .rect33 img{
        margin-left: 17px;
    }
    .rect33 span{
        color: #FFF;
        text-align: center;
        font-family: Montserrat;
        font-size: 20px;
        font-style: normal;
        font-weight: 800;
        line-height: 40px; /* 200% */
        letter-spacing: 2px;
    }
   
    .twelve h1{
        color: #FFF;
font-family: Montserrat;
font-size: 15px;
font-style: normal;
font-weight: 500;
line-height: normal;
opacity: 0.5;
margin-top: 48px;
margin-left: 255px;
    }
    .text3{
        display: flex;
    }
    .twelve .meet{
        color: #FFF;
font-family: Montserrat;
font-size: 15px;
font-style: normal;
font-weight: 500;
line-height: normal;
margin-top: 48px;
margin-left: 12px;
    }
    .text3 svg{
        margin-top: 50px;
        margin-left: 5px;
    }
    .line3{
        width: 1440px;
height: 1px;
background: rgba(255, 255, 255, 0.30);
margin-top: 121px;
    }
    .rect34{
        text-align: center;
font-family: Montserrat;
font-size: 35px;
font-style: normal;
font-weight: 500;
line-height: normal;
background: linear-gradient(90deg, #1B94F6 0.06%, #B1DA54 39.37%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
margin-top: 110px;
    }
    .rectangles{
        display: flex;
    }
    .rect35{
        width: 172px;
height: 54px;
flex-shrink: 0;
border-radius: 100px;
border: 1px solid #1B94F6;
background: #000;
margin-left: 523px;
margin-top: 29px;
    }
    .rect35 span{
        color: #FFF;
font-family: Montserrat;
font-size: 15px;
font-style: normal;
font-weight: 500;
line-height: 35px; /* 233.333% */
margin-left: 30px;
position: absolute;
margin-top: 10px;
    }
    .rect35 svg{
        margin-top: 25px;
        margin-left: 112px;
    }
    .rect36{
        width: 172px;
        height: 54px;
        flex-shrink: 0;
        border-radius: 100px;
        border: 1px solid #545454;
        background: #000;
        margin-top: 29px;
        margin-left: 50px;
    }
    .rect36 span{
        color: #FFF;
font-family: Montserrat;
font-size: 15px;
font-style: normal;
font-weight: 500;
line-height: 35px; /* 233.333% */
margin-left: 38px;
position: absolute;
margin-top: 10px;
    }
@media screen and (max-width:830px) {
        nav .menu ul {
            position: fixed;
            top:80px;
            left:-100%;
            margin: 0;
            align-items: center;
            width:300px;
            height: auto;
            display: block;
            background: #0F0F0F;
            text-align: center;
            border-radius: 0px 0px 8.915px 8.915px;
            transition: 400ms all ease ;
            
            }
            
            nav{
                width: 100%;
                height: 80px;
            }
        
        nav .menu ul li{
            padding: 0;
        }
            nav .container{
                max-width: 100%;
            }
           
            nav .navbar{
                display: flex;
                justify-content: flex-start;
                margin: 0;
                
            }
            
            nav .menu ul li a{
                font-size: 15.738px;
                margin: 0;
              }   
            #check:checked ~ ul{
             left: 0%;
             position: absolute;
            }
            #check:checked ~ label i::before{
                content: '\f00d';
            }
            label{
                display: block;
            }
            .main{
                width: 375px;
                height:auto;
        }
    
    .first{
        padding: 0;
    }
  .mainsvg{
    display: none;
  }
  .firstsvg{
    display: block;
    margin-left: -5px;
  }
  .line1{
    display: none;
  }
  .rect2{
    margin: 0;
    margin-top: 46px;
    margin-left: 15px
  }
  .text{
    width: 304px;
    height: 70px;
    padding: 0;
    margin: 0;
    margin-top: 79px;
    margin-left: 16px;
  }
  .text span{
    color: #FFF;
    font-family: Montserrat;
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: 35px; /* 140% */
  }
  .text .span1{
    color: #B1DA5A;
    font-family: Montserrat;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: 35px;
  }
  .non-animation{
    font-size: 25px;

  }
  .animated-text{
    font-size: 25px;

  }
  .text .para1{
    font-size: 10px;
    width: 327px;
  }
  .text .para2{
    font-size: 10px;
  }
  .rect3{
    width: 327px;
height: 41px;
margin: 0;
margin-top: 264px;
margin-left: 15px
  }
  .rect3 span{
    font-size: 12px;
    margin-left: 94px;
    margin-top: 13px;
  }
  .elip2{
    margin: 0;
    margin-top: 10px;
    margin-left: 212px;
  }
  .wrapper{
    width: 281px;
margin: 0;
margin-top: 451px;
margin-left: 40px;
  }
  .second img{
    margin-left: 65px;
    margin-top: 300px;
  }
  .second .t1{
    margin-left:126px;
  }
  .second .t2{
    margin-left: 195px;
  }
  .second .t3{
    margin-left: 126px;
  }
  .second .line{
    margin-left: 126px;
  }
  .img-text1{
    width: 350px;
     margin: 0;
overflow-x: auto;
gap: 20px;
  }
.img-text1::-webkit-scrollbar{
    width: 0;
}
.rectangle{
margin: 0;
margin-left: 10px;
width: 201px;
border-radius: 20px;
margin-top: 44px;
position: relative;
}
.rectangle img{
    margin: 0;
    margin-top: 20px;
    margin-left: 20px;
    position: absolute;
}
.rectangle .t4{
    margin: 0;
    margin-top: 20px;
    margin-left: 70px;
    position:absolute;
}
.rectangle .t5{
    margin: 0;
    margin-top: 20px;
    margin-left: 50px;
    position: absolute;
}
.thirdsvg1{
    display: none;
}

.thirdsvg{
    display: block;
    margin-left: 5px;
}
.rect4{
    width: 254px;
height: 30px;
border-radius: 60px;
margin: 0;
margin-top: 93px;
margin-left: 20px;
}
.rect4 p{
    font-size: 10px;
}
.rect4 span{
    font-size: 10px;
}
.third .p1{
    font-size: 13px;
    margin-top: 133px;
    margin-left:20px;
}
.third .s1{
    font-size: 13px;
}
.third .p2{
    font-size: 8px;
    margin-top: 153px;
    margin-left: 49px;
}
.third .s2{
    font-size: 8px;
}
.rect5{
    width: 340px;
height: 494px;
flex-shrink: 0;
border-radius: 30px;
background: #000;
margin-top: 186px;
margin-left: 15px;
}
.rect6{
    width: 320px;
height: 42px;
flex-shrink: 0;
margin-top: 8px;
margin-left: 10px;
}
.rect6 .p3{
    font-size: 12px;
    margin-left: 12px;
}
.rect6 .s3{
font-size: 12px;
margin-left: 5px;
}
.rect7{
    display: none;
}
.thirdsvg2{
    display: block;
    margin-top: -20px;
    margin-left: 160px;
}
.rect6 .p4{
    margin-left: 200px;
    margin-top: -20px;
    font-size: 10px;

}
.rect6 .s4{
    margin-top: -20px;
    font-size: 8px;
}
.rect8{
    margin-top: 11px;
    margin-left: 52px;
    width: 236.872px;
    height: 238px;
}
.rect5 .p6{
    margin-left: 12px;
    margin-top: 13px;
    font-size: 20px;

}
.rect5 .p7{
    margin-left: 12px;
    font-size: 20px;
}
.rect5 .s5{
    font-size: 20px;

}
.rect5 .p8{
    width: 316px;
    font-size: 9px;
    margin-left: 12px;
}
.rect9{
    margin-left: 12px;
}
.rect10{
    width: 340px;
    height: 523px;
    margin-top: 704px;
    margin-left: 12px;
}
.rect10svg1{
    display: none;
}
.rect10svg2{
    display: block;
    margin-left: 5px;
}
.svg{
    margin-top: 80px;
}
.svg1{
    margin-top: -220px;
    margin-left: 40px;
}
.svg2{
    margin-top: -220px;
    margin-left: 80px;
}
.svg3{
    margin-top: -120px;
    margin-left: 130px;
}
.svg4{
    margin-top: -50px;
    margin-left:180px;
}
.fourth{
    width: 340px;
    height: auto;
}
.rect11{
    width: 290px;
height: 30px;
margin-top:80px;
margin-left: 10px;
}
.rect11 p{
    font-size: 10px;
    margin-top: 8px;
}
.rect11 span{
    font-size: 10px;
}
.fourth .p9{
    font-size: 13px;
    margin-left: 20px;
}
.fourth .s8{
    font-size: 13px;
 
}
.fourth .s9{
    font-size: 13px;
 
}
.fourth .p10{
    font-size: 8px;
    margin-left: 100px;
}
.fourth .s10{
    font-size: 10px;
}
.rect12{
    width: 340px;
height: 69px;
border-radius: 10px;
border: 0.5px solid #D9D9D9;
background: rgba(217, 217, 217, 0.00);
margin-left: 15px;
}
.rect13{
    width: 54px;
height: 54px;
border-radius: 10px;
border: 0.5px solid #D9D9D9;
background: rgba(217, 217, 217, 0.00);
margin-left: 25px;
margin-top: 50px;
}
.rect13 img{
    width: 35px;
    height: 35px;
    margin-left: 10px;
}
.rect13 p{
    font-size: 7px;
       margin-top: -10px;
}
.fifth{
    width: 360px;
    height: auto;
}
.fifth1 img{
    width: 49px;
height: 49px;
margin-left: 19px;
margin-top: 80px;
}
.fifth1 h1{
    font-size: 8px;
    margin-left: 19px;

}
.fifth1 span{
    font-size: 8px;
}
.fifth1 h2{
    font-size: 17px;
    margin-left: 19px;
}
.fifth1 h3{
    font-size: 17px;
    margin-left: 19px;

}
.fifth1 p{
    width: 327px;
    font-size: 8px;
    margin-left: 19px

}
.fifth1 .rect14{
    margin-left: 19px;
}
.fifth2{
    width: 329px;
height: 329px;
margin-left: 19px;
margin-top: 21px;
border-radius: 25px;
}
.fifth2 .rect15{
    width: 276px;
height: 276px;
border-radius: 25px;
margin-top: 27px;
margin-left: 27px;

}
.fifth2 .rect15 h1{
    width: 191px;
    font-size: 10px;
    margin: 0;
    margin-left: 28px;

}
.fifth2 .rect15 h2{
    font-size: 10px;
    margin-left: 28px;
}
.fifth2 .rect15 .s11{
    font-size: 10px;

}
.line2{
    margin-left: 30px;
    margin-top: 13px;
width: 2px;
height: 204px;
}
.line2 p{
    width: 204px;
    font-size: 10px;
    margin-top: 13px;
    margin-left: 8px;
    line-height: 17px; /* 170% */
}
.fifth .p11{
    margin-left:112px;
}
.sixth{
    width: 360px;
    height: auto;
}
.sixth1{
    width: 329px;
    height: 329px;
    margin-top: 170px;
    margin-left: -160px;
}

.sixth1 .rect18{
    width: 207.322px;
height: 117.182px;
margin: 0;
padding: 0;
margin-top: 152px;
margin-left: 27px;
}
.sixth1 .rect18 img{
    width: 207.322px;
    height: 117.182px;
}
.sixth1 .rect19{
    width: 227.496px;
height: 159.677px;
margin-top:-230px;
margin-left: 100px;
padding: 0;

}
.sixth1 .rect19 img{
     width: 227.496px;
height: 159.677px;
}
.sixth2{
    margin-top:-300px ;
}
.sixth2 img{
    width: 49px;
height: 49px;
border-radius: 10px;
margin-left: -320px;

}
.sixth2 h1{
    font-size: 8px;
    margin-left: -320px;

}
.sixth2 h2{
    font-size: 17px;
    margin-left: -320px;

}
.sixth2 h3{
    font-size: 17px;
    margin-left: -320px;
}
.sixth2 p{
    width: 327px;
    font-size: 8px;
    margin-left: -320px;

}
.sixth2 .rect20{
    margin-left: -320px;

}
.p12{
    margin-left:140px;
    margin-top: 0;    
}
.seventh{
    width: 340px;
    height: 126.379px;
    margin: 0;
    margin-top: 20px;
    margin-left: -75px;
}
.seventh .rect21{
    width: 340px;
    height: 106px;
    border-radius: 10px;
}
.seventh .rect21 img{
    width: 23px;
height: 17px;
margin: 0;
padding: 0;
margin-top: 44px;
margin-left: 37px;
}
.seventh .rect21 p{
    font-size: 10px;
    margin: 0;
    padding: 0;
    margin-left: 60px;
    margin-top: -30px;
}
.seventh2 .p13{
    width: 192px;
    font-size: 6px;
    margin: 0;
    padding: 0;
    margin-top: -60px;
    margin-left: 136px;
    line-height: 10px; /* 166.667% */
}
.seventh2 .p14{
display: none;
}
.seventh2 .p15{
    display: none;
}
.eight{
    width: 360px;
    height: auto;
    display: block;
    margin-top: 10px;
}
.eight1 img{
    width: 49px;
height: 49px;
border-radius: 10px;
margin-left: -60px;
}
.eight1 h3{
    font-size: 8px;
    margin-left: -60px;

}
.eight1 h1{
    font-size: 17px;
    margin-left: -60px;

}
.eight1 h2{
    font-size: 17px;
    margin-left: -60px;

}
.eight1 h2 span{
    font-size: 17px;
}
.eight1 p{
    width: 327px;
    font-size: 8px;
    margin-left: -60px;
}
.eight1 .rect22{
    margin-left: -60px;

}
.eight2 .rect23{
    width: 329px;
height: 329px;
margin-left:-70px;
margin-top: 20px;
}
.eight2 .rect23 img{
    width: 266px;
    height: 235px;
    margin-top: 55px;
    margin-left: 65px;
}
.p16{
    margin-left: 125px;
    margin-top:0px;
}
.nine{
    width: 360px;
    height: auto;
}
.nine1 .rect24{
    width: 329px;
    height: 329px;
    margin-top: 210px;
    margin-left: -70px;

}
.nine1 .rect24 img{
    width: 266px;
height: 235px;
margin-left: 63px;
margin-top: 47px;
}
.nine2{
    margin-top:-300px ;
}
.nine2 img{
    width: 49px;
    height: 49px;
    border-radius: 10px;
    margin-left: -320px;
    margin-top: 200px;
}
.nine2 h1{
    font-size: 8px;
    margin-left: -320px;

}
.nine2 h2{
    margin-left: -320px;
font-size: 17px;
}
.nine2 h3{
    margin-left: -320px;
font-size: 17px;

}
.nine2 h3 span{
    font-size: 17px;

}
.nine2 p{
    font-size: 8px;
    margin-left: -320px;
    width: 327px;
}
.nine2 .rect25{
    margin-left: -320px;

}
.p17{    
margin-left: 125px; 
margin-top: 0;   
}
.tenth{
    width: 340px;
    height: 96.156px;
    border-radius: 10px;
    margin: 0;
    margin-left: 15px;
    margin-top: 20px;
} 

.rect26 img{
    width: 58.234px;
    height: 58.234px;
    flex-shrink: 0;
    border-radius: 5px;
    margin-top: 20px;
    margin-left: 30px;
}
.rect27 img{
    width: 58.234px;
    height: 58.234px;
    margin-top: 5px;
    margin-left: -30px;
    border-radius: 5px;

}
.tenth2 h1{
    font-size: 10px;
    margin:0;
    margin-left: 50px;
    margin-top: 14px;
}
.tenth2 h2{
    font-size: 10px;
    margin:0;
    margin-left: 50px;

}
.tenth2 h3{
    font-size: 10px;
    margin:0;
    margin-left: 50px;

}
.tenth2 p{
    font-size: 5px;
    margin:0;
    margin-left: 50px;
    margin-top: -10px;

}
.tenth2 p span{
    font-size: 5px;
    margin:0;

}
.rect28{
    width: 102px;
    height: 15px;
    margin: 0;
    margin-left: 45px;
}
.rect28 span{
    font-size: 5px;
    margin: 0;
    margin-top: -10px;
    position: absolute;
    margin-left: 10px;
}
.rect29{
    width: 74px;
    height: 15px;
    flex-shrink: 0;
    margin: 0;
    margin-top: -15px;
    margin-left: 150px;
}
.rect29 span{
    font-size: 6px;
    position: absolute;
   margin: 0;
   margin-top: -10px;
   margin-left: 10px;
}
.rect29 svg{
    margin-left: 50px;
    margin-top: 3px;
    position: absolute;
}
.eleven{
    width: 360px;
    height: auto;
    display: block;
    margin-top: 10px;

}
.gif {
    display: flex;
    justify-content: flex-start;
    margin-left: -70px;
    margin-top: 20px;
}
.gif img{
    width: 49px;
    height: 49px;
border-radius: 10px;
margin: 0;
}
.eleven1 h1{
    font-size: 8px;
    margin-left: -70px;

}
.eleven1 h1 span{
    font-size: 8px;

}
.eleven1 h2{
    font-size: 17px;
    margin-left: -70px;

}
.eleven1 h3{
    font-size: 17px;
    margin-left: -70px;

}
.eleven1 p{
    width: 331px;
    font-size: 8px;
    margin-left: -70px;
    line-height: 10px; /* 166.667% */

}
.eleven1 .rect30{
    margin-left: -70px;

}

.eleven2 .rect31{
    width: 329px;
    height: 233.097px;
    border-radius: 25px;
    margin-left: -70px;
margin-top: 20px;
}
.eleven2 .rect31 img{
    width: 300px;
height: 199.515px;
border-radius: 25px;
margin-left: 15px;
margin-top: 17px;
}
.twelve{
    width:360px;
height: auto;
flex-shrink: 0;
margin-top: 20px;
}
.img-text2{
display: flex;
justify-content: flex-start;
margin: 0;
margin-left: -20px;
gap: 0;
}
.rect32 {
    display: flex;
    width: 73px;
height: 19px;
flex-shrink: 0;
margin: 0;
}
.rect32 img{
    margin-left: -130px;
}
.rect32 span{
   font-size: 8px;
   margin: 0;
   margin-top: -10px;
}
.rect32 .t5{
margin-left: -120px;
}
.img-text3{
    display: flex;
    justify-content: flex-start;
    gap: 0;
    margin: 0;
    margin-left: -30px;

    }
    .img-text3 .rect37{
        display: none;
    }
    
    
    .img-text3 .rect33{
        display: none;
    }
    
    .rect33 img{
        margin-left: 17px;
    }
    .rect33 span{
        font-size: 8px;
        
    }
    .twelve h1{
        font-size: 7px;
        margin: 0;
        margin-top: 20px;
        margin-left: -150px;
    }
    .twelve .meet{
        font-size: 7px;
        margin: 0;
        margin-top: 20px;
        margin-left: 50px;
    }
    .text3 svg{
        margin-top: 20px;
    }
    .line3{
        display: none;
    }
    .rect34{
        font-size: 17px;
        margin: 0;
        margin-top: 50px;
    }
    .rectangles{
        display: flex;
        margin-left: 40px;
        margin-top: 20px;
    }
    .rect35{
        width: 136px;
        height: 32px;
        flex-shrink: 0;
        margin: 0;
    }
    .rect35 span{
       margin: 0;
       margin-left: 30px
    }
    .rect35 svg{
        margin-left: 112px;
        margin-top: 10px;
    }
    .rect36{
        width: 134px;
height: 32px;
flex-shrink: 0;
margin: 0;
margin-left: 20px;
    }
    .rect36 span{
       margin: 0;
       margin-left: 30px

    }
}
